@inject Weekhelper _helper

<h3>DayMenuComponent</h3>

<div class="container-fluid">
    <div class="row p-2">
        <div class="d-block">
            <div class="border p-1">Week</div>
            <div class="bg-white border p-1">Breakfast</div>
            <div class="border  p-1">Second brekfast</div>
            <div class="bg-white border  p-1">Lunch</div>
            <div class="border  p-1">Afternoon Tea</div>
            <div class="bg-white border  p-1">Dinner</div>
        </div>

        @foreach (var item in sevenDays)
        {
            <div class="d-block">
                <div class="border p-1">@item.DayMenuDate.DayOfWeek.ToString()</div>
                <div style="cursor: pointer" class="bg-white border p-1" @onclick="()=>selectRecipe(item.Breakfast)">@NameTrimer(item.Breakfast.RecipeName)</div>
                <div style="cursor: pointer" class="border p-1" @onclick="()=>selectRecipe(item.SecondBreakfast)">@NameTrimer(item.SecondBreakfast.RecipeName)</div>
                <div style="cursor: pointer" class="bg-white border p-1" @onclick="()=>selectRecipe(item.Lunch)">@NameTrimer(item.Lunch.RecipeName)</div>
                <div style="cursor: pointer" class="border p-1 " @onclick="()=>selectRecipe(item.AfternoonTea)">@NameTrimer(item.AfternoonTea.RecipeName)</div>
                <div style="cursor: pointer" class="bg-white border p-1" @onclick="()=>selectRecipe(item.Dinner)">@NameTrimer(item.Dinner.RecipeName)</div>
            </div>
        }
    </div>
</div>

<ShowRecipe recipeParameter="selectedRecipe"/>

@code {
    DateTime today = DateTime.Now;

    DayMenuModel day = new DayMenuModel();

    RecipeModel selectedRecipe = new RecipeModel();

    List<DayMenuModel> sevenDays = new List<DayMenuModel>();

    string nameOfDay = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        nameOfDay = today.DayOfWeek.ToString();
        sevenDays = await _helper.CreateSevenDays(today);

    }

    void selectRecipe(RecipeModel recipe)
    {
        selectedRecipe = recipe;        
    }

    string NameTrimer(string name)
    {
        if (name.Length > 15)
        {
            name = $"{name.Substring(0, 15)}...";
        }
        return name;
    }




}
