@inject Weekhelper _helper

<h3>DayMenuComponent</h3>

<div class="container-fluid">
    <div class="row p-2 border rounded">
        <div class="d-block">
            <div class="border p-2">Week</div>
            <div class="bg-primary p-2">Breakfast</div>
            <div class="border p-2">Second brekfast</div>
            <div class="bg-success p-2">Lunch</div>
            <div class="border p-2">Afternoon Tea</div>
            <div class="bg-warning p-2">Dinner</div>
        </div>

        @foreach (var item in sevenDays)
        {
            <div class="d-block">
                <div class="border p-2">@item.DayMenuDate.DayOfWeek.ToString()</div>
                <div class="bg-primary p-2" @onclick="()=>selectRecipe(item.Breakfast)">@NameTrimer(item.Breakfast.RecipeName)</div>
                <div class="border p-2 ">@NameTrimer(item.SecondBreakfast.RecipeName)</div>
                <div class="bg-success p-2 ">@NameTrimer(item.Lunch.RecipeName)</div>
                <div class="border p-2 ">@NameTrimer(item.AfternoonTea.RecipeName)</div>
                <div class="bg-warning p-2 ">@NameTrimer(item.Dinner.RecipeName)</div>
            </div>
        }
    </div>
</div>

<ShowRecipe recipeParameter="selectedRecipe"/>

@code {
    DateTime today = DateTime.Now;

    DayMenuModel day = new DayMenuModel();

    RecipeModel selectedRecipe = new RecipeModel();

    List<DayMenuModel> sevenDays = new List<DayMenuModel>();

    string nameOfDay = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        nameOfDay = today.DayOfWeek.ToString();
        sevenDays = await _helper.CreateSevenDays(today);
    }

    void selectRecipe(RecipeModel recipe)
    {
        selectedRecipe = recipe;
    }

    string NameTrimer(string name)
    {
        if (name.Length > 15)
        {
            name = $"{name.Substring(0, 15)}...";
        }
        return name;
    }




}
