


<div class="container @display">    
    <div class="row">
        <div class="col text-center p-3"><h2>@recipeModel.RecipeName</h2></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">Ingredients</div>
            <div>@recipeModel.Ingredients</div>
        </div>
        <div class="col-md-3">
            <div class="text-center">Instructions</div>
            <div>@recipeModel.How</div>
        </div>
        <div class="col-md-3 text-center"><img class="card-img-top" style="height: 20rem; width:20rem; object-fit: cover;" src="@imageContent" alt="Card image cap"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>Ingredients</div>
            <div>@recipeModel.Ingredients</div>
        </div>
        <div class="col-md-6">
            <div>Instructions</div>
            <div>@recipeModel.How</div>
        </div>
    </div>
    <div class="row">
      
    </div>
</div>


@code {

    [Parameter]
    public RecipeModel recipeParameter { get; set; }

    RecipeModel recipeModel = new RecipeModel();
    string display = "d-none";

    string imageContent = string.Empty;

    protected override void OnParametersSet()
    {
        recipeModel = recipeParameter;
        if (recipeModel.RecipeModelID>0)
        {
            display = string.Empty;
        }
        else
        {
            display = "d-none";
        }
        ShowImage();
    }

    void ShowImage()
    {
        if (string.IsNullOrWhiteSpace(recipeModel.RecipeImageName) == false)
        {
            var fileExtension = recipeModel.RecipeImageName.Split('.');
            imageContent = $"data:image/{fileExtension[fileExtension.Length - 1]};base64, {Convert.ToBase64String(recipeModel.RecipeImageFile)}";
        }
    }


}
